<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "UTF-8" name="viewport" content="width=device-width, initial-scale=1">
        <title>
            St. Benedict
        </title>
        <link rel="stylesheet" href="C:\Users\alihu\ssbc\statics\styles.css">
        
    </head>

    <body>
        <div class="container">
            <div class="box">
                St. Benedict Catholic Church
            </div>
            <div class="box">
                Our church
            </div>
            <div class="box">
                our members
            </div>
            <div class="box">
                sermons
            </div>
        </div>
    </body>
</html>