h1{
    color:red;
    
    font-size: 50px;
}

*{
    box-sizing: border-box;
}

body{
    margin: 7px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.box{
    flex: 1;
    width: 100px;
    height: 100px;
    background-color: indianred;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
